.column {
  float: left;
  width: 300px;
  background-color: green;


}
.column2 {
  float: left;
  width: 300px;
  background-color: red;


}
.column3 {
  float: left;
  width: 300px;
  background-color: blue;


}

img.column {

  float: left;
  width: 300px;
  background-color: green;


}
img.column2 {

  float: left;
  width: 300px;
  background-color: green;

}

img.column3 {

  float: left;
  width: 300px;
  background-color: green;


}


@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
