.column {
  float: left;
  width: 300px;
  background-color: green;


}
.column2 {
  float: left;
  width: 300px;
  background-color: red;


}
.column3 {
  float: left;
  width: 300px;
  background-color: blue;


}

img.column {

  float: left;
  width: 300px;
  background-color: green;


}
img.column2 {

  float: left;
  width: 300px;
  background-color: green;

}

img.column3 {

  float: left;
  width: 300px;
  background-color: green;
  

}
